# Prerequisites
*.d

# Compiled Object files
*.o

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directory
build/

# Temporary files
*.tmp
*.log
*.bak
*.swp

.cache/
